doctype true
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width' name='viewport')
  // [if !mso] <!
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  // <![endif]
  title
  // [if !mso] <!
  // <![endif]
  style(type='text/css').
    body {
    margin: 0;
    padding: 0;
    }
    table,
    td,
    tr {
    vertical-align: top;
    border-collapse: collapse;
    }
    * {
    line-height: inherit;
    }
    a[x-apple-data-detectors=true] {
    color: inherit !important;
    text-decoration: none !important;
    }
  style#media-query(type='text/css').
    @media (max-width: 520px) {
    .block-grid,
    .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important;
    }
    .block-grid {
    width: 100% !important;
    }
    .col {
    width: 100% !important;
    }
    .col_cont {
    margin: 0 auto;
    }
    img.fullwidth,
    img.fullwidthOnMobile {
    max-width: 100% !important;
    }
    .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important;
    }
    .no-stack.two-up .col {
    width: 50% !important;
    }
    .no-stack .col.num2 {
    width: 16.6% !important;
    }
    .no-stack .col.num3 {
    width: 25% !important;
    }
    .no-stack .col.num4 {
    width: 33% !important;
    }
    .no-stack .col.num5 {
    width: 41.6% !important;
    }
    .no-stack .col.num6 {
    width: 50% !important;
    }
    .no-stack .col.num7 {
    width: 58.3% !important;
    }
    .no-stack .col.num8 {
    width: 66.6% !important;
    }
    .no-stack .col.num9 {
    width: 75% !important;
    }
    .no-stack .col.num10 {
    width: 83.3% !important;
    }
    .video-block {
    max-width: none !important;
    }
    .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide {
    display: block !important;
    max-height: none !important;
    }
    }
//if IE
  .ie-browser
//- - var booking = {plan: {name: 'Plan de dia'}, entry: "15 MAY 21", walkout: "16 MAY 21", user: {name: {first: 'German', last: 'Ramos'}}, visitants: {adults: 2, childs: 0}, checkin: {visitants: [{dni: {type: "C.C", number: "12345678"}, name: "Jair Oquendo", nationality: "colombia", birthday: "2020-12-02"}]}};
table.nl-container(bgcolor='#FFFFFF' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; min-width: 320px; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; width: 100%;' valign='top' width='100%')
  tbody
    tr(style='vertical-align: top;' valign='top')
      td(style='word-break: break-word; vertical-align: top;' valign='top')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0')
            tr
              td(align='center' style='background-color:#FFFFFF')
        div(style='background-color:transparent;')
          .block-grid(style='min-width: 320px; max-width: 500px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; Margin: 0 auto; background-color: transparent;')
            div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
              //if (mso)|(IE)
                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
                  tr
                    td(align='center')
                      table(cellpadding='0' cellspacing='0' border='0' style='width:500px')
                        tr.layout-full-width(style='background-color:transparent')
              //if (mso)|(IE)
                td(align='center' width='500' style='background-color:transparent;width:500px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
              .col.num12(style='min-width: 320px; max-width: 500px; display: table-cell; vertical-align: top; width: 500px;')
                .col_cont(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    table(cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' valign='top' width='100%')
                      tr(style='vertical-align: top;' valign='top')
                        td(align='center' style='word-break: break-word; vertical-align: top; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; text-align: center; width: 100%;' valign='top' width='100%')
                          h1(style='color:#419f00;direction:ltr;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-size:40px;font-weight:normal;letter-spacing:-1px;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;')
                            strong &iexcl;Check In Exitoso!
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    div(style='color:#393d47;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                      .txtTinyMce-wrapper(style='line-height: 1.2; font-size: 12px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; color: #393d47; mso-line-height-alt: 14px;')
                        p(style='font-size: 20px; line-height: 1.2; word-break: break-word; text-align: center; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 24px; margin: 0;')
                          span(style='font-size: 20px;') Invitados registrados correctamente
                    //if mso
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #F2F2F2; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    table(cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' valign='top' width='100%')
                      tr(style='vertical-align: top;' valign='top')
                        td(align='center' style='word-break: break-word; vertical-align: top; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px; text-align: center; width: 100%;' valign='top' width='100%')
                          h1(style='color:#555555;direction:ltr;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-size:23px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;')
                            strong Info. Reserva
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #FFFFFF; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    //- div(style='font-size:16px;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif')
                    //-   div(style='background:url(https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/637957_620008/Ticket.png); background-repeat: no-repeat; background-position: center; background-size: contain; height:250px;')
                    //-     div(style='color: #357835; padding: 50px 100px; text-align: left;')
                    //-       div(style='font-size: 30px')
                    //-         div(style='margin-bottom: 10px; text-align: center; text-transform: uppercase')
                    //-           span(style='font-weight:bold')= booking.plan.name
                    //-       div(style='font-size: 20px')
                    //-         div(style='margin-bottom: 10px; text-align: center; text-transform: uppercase')
                    //-           if booking.user
                    //-             span(style='font-weight:bold') #{booking.user.name.first} #{booking.user.name.last}
                    //-           if booking.userid
                    //-             span(style='font-weight:bold')= booking.userId.name.first
                    //-       div(style='font-size: 20px')
                    //-         div(style='margin-bottom: 10px; text-align:center')
                    //-           span(style='font-weight:bold') #{booking.entry} | #{booking.walkout}
                    //-       div(style='font-size: 14px')
                    //-         div(style='margin-bottom: 10px; text-align: center; text-transform: uppercase')
                    //-           span(style='font-weight:bold') Invitados
                    //-           div(style='margin-top: 5px')
                    //-             if booking.visitants.childs > 0
                    //-               span Ni&ntilde;os #{booking.visitants.childs}, 
                    //-             span Adultos #{booking.visitants.adults}
                    div(style='font-size:14px;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif')
                      div(style='font-size:12px; color: white;text-align:center;font-family:Arial, Helvetica Neue, Helvetica, sans-serif')
                        div(style='background:url(https://startupslab-clients.s3.us-east-2.amazonaws.com/casa10/ticket.png); background-repeat: no-repeat; background-position: center; background-size: 100%; height:250px;')
                          div(style='max-width:400px; padding: 25px 0;')
                            div(style='')
                              div(style='margin-bottom: 8px')
                                div(style='text-transform: uppercase')
                                  span(style='margin-bottom: 3px; display: block') Estas invitado
                                  p(style='font-weight: bold; font-size: 14px') #{user.name.first} #{user.name.last}
                                  p(style='font-weight: bold; margin-top: 3px') Luces, c&aacute;mara, acci&oacute;n !!!!
                              div(style='margin-bottom:10px')
                                div(style='margin-bottom: 5px')
                                  span(style='font-weight:bold; margin-bottom: 2px; display: block') Fecha llegada:
                                  p(style='font-size: 10px') #{booking.entry}
                                div
                                  span(style='font-weight:bold; margin-bottom: 2px; display: block') Fecha salida:
                                  p(style='font-size: 10px') #{booking.walkout}
                              //- div(style='font-size: 9px')
                              //-   p Alojamiento Campestre 
                              //-   | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Km 23 Vereda Chaparrito
                    table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                      tbody
                        tr(style='vertical-align: top;' valign='top')
                          td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                            table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #FFFFFF; width: 100%;' valign='top' width='100%')
                              tbody
                                tr(style='vertical-align: top;' valign='top')
                                  td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                    span
                    table(cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;' valign='top' width='100%')
                      tr(style='vertical-align: top;' valign='top')
                        td(align='center' style='word-break: break-word; vertical-align: top; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px; text-align: center; width: 100%;' valign='top' width='100%')
                          h1(style='color:#555555;direction:ltr;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;font-size:23px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;')
                            strong Invitados
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
                    each visitant in booking.checkin.visitants
                      div(style='color:#393d47;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;line-height:1.2;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;')
                        .txtTinyMce-wrapper(style='line-height: 1.2; font-size: 12px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; color: #393d47; mso-line-height-alt: 14px;')
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 19px; margin: 0;')
                            span(style='color: #419f00; font-size: 16px;')
                              span(style='') Nombres: 
                              span(style='color: #808080;text-transform:capitalize')= visitant.name
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 19px; margin: 0;')
                            span(style='color: #419f00; font-size: 16px;')
                              span(style='') Documento: 
                              span(style='color: #808080;')= visitant.dni.type
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 19px; margin: 0;')
                            span(style='color: #419f00; font-size: 16px;')
                              span(style='') N&deg; documento:
                              span(style='') &nbsp;
                              span(style='color: #808080;')= visitant.dni.number
                          p(style='font-size: 16px; line-height: 1.2; word-break: break-word; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 19px; margin: 0;')
                            span(style='color: #419f00; font-size: 16px;')
                              span(style='') Nacionalidad:
                              span(style='') &nbsp;
                              span(style='color: #808080;text-transform:capitalize')= visitant.nationality
                          if visitant.birthdate
                            p(style='font-size: 16px; line-height: 1.2; word-break: break-word; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 19px; margin: 0;')
                              span(style='color: #419f00; font-size: 16px;')
                                | Fecha nacimiento:
                                span(style='color: #808080;')= visitant.birthdate
                      //if mso
                      table.divider(border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top' width='100%')
                        tbody
                          tr(style='vertical-align: top;' valign='top')
                            td.divider_inner(style='word-break: break-word; vertical-align: top; min-width: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;' valign='top')
                              table.divider_content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-top: 1px solid #F2F2F2; width: 100%;' valign='top' width='100%')
                                tbody
                                  tr(style='vertical-align: top;' valign='top')
                                    td(style='word-break: break-word; vertical-align: top; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;' valign='top')
                                      span
                    //if mso
                    //if mso
                      table(width='100%' cellpadding='0' cellspacing='0' border='0')
                        tr
                          td(style='padding-right: 35px; padding-left: 35px; padding-top: 35px; padding-bottom: 35px; font-family: Arial, sans-serif')
                    div(style='color:#393d47;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;letter-spacing:0px;line-height:1.2;padding-top:35px;padding-right:35px;padding-bottom:35px;padding-left:35px;')
                      .txtTinyMce-wrapper(style='line-height: 1.2; font-size: 12px; color: #393d47; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; letter-spacing: 0px; mso-line-height-alt: 14px;')
                        p(style='font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; letter-spacing: normal; margin: 0;')
                          a(href='https://micasa10.vercel.app' rel='noopener' style='text-decoration: underline; color: #419f00;' target='_blank')
                            span(style='color: #04cc04;')
                              strong
                                span(style='color: #419f00;') Iniciar sesi&oacute;n
                          | para ver la reserva
                    //if mso
                    // [if (!mso)&(!IE)] <!
                  // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
        //if (mso)|(IE)
//if (IE)
